name: .NET Core Desktop

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore GemiKey.sln

    - name: Build
      run: dotnet build GemiKey.sln --configuration ${{ matrix.configuration }} --no-restore

    - name: Test
      run: dotnet test GemiKey.sln --configuration ${{ matrix.configuration }} --no-build --verbosity normal
